@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');



@font-face {
    font-family: Inter, Tinos;
    src: url(../assets/fonts/Inter\,Tinos/);

}

:root {
    --cor-preto: #201E1D;
    --cor-laranja: #E6370B;
    --cor-branco: #FFFFFF;
    --cor-cinza: #E6E6E6;
    --cor-beje: #EEC8C5;
    --cor-beje-variacao: #945757;
    --cor-azul1: #CEDAE8;
    --cor-azul2: #A0AAE5;

    --borda: 1px solid var(--cor-cinza);
    --borda-arredondamento: 8px;

    --tamanho-fonte-lg: 20px;
    --tamanho-fonte-md: 16px;
    --tamanho-fonte-sm: 14px;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Tinos", serif;
    outline-color: var(--cor-azul2);
}



body {
    background-color: var(--cor-preto);

}

h1 {
    position: absolute;
    z-index: -1;
    opacity: 0;


}

.formulario-botao-laranja {
    background-color: var(--cor-laranja);
    border-radius: var(--borda-arredondamento);
    border: none;
    height: 35px;

    color: var(--cor-preto);
    font-size: var(--tamanho-fonte-sm);


}

.formulario-campos>input {
    border: var(--borda);
    height: 35px;
    background-color: var(--cor-beje);


    color: var(--cor-beje-variacao);
    font-size: var(--tamanho-fonte-sm);
    border-radius: var(--borda-arredondamento);

}

.formulario-campos>label {
    font-size: var(--tamanho-fonte-sm);
    color: var(--cor-beje-variacao);
    font-weight: 600;

}

.estilo-formulario {
    width: 100%;
    background-color: var(--cor-preto);
    border: var(--borda);
}

#campo-upload {
    display: none;
}

.campo-upload {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--tamanho-fonte-sm);
    color: var(--cor-azul2);
    font-weight: 400;
}

#texto-upload {
    display: inline-block;
    width: 100%;
    /* max-width: 300px; */
    min-height: 35px;
    background-color: var(--cor-azul1);
    padding: 5px;
    text-align: center;
    color: var(--cor-preto);
    justify-content: center;
    box-sizing: border-box;
    border-radius: var(--borda-arredondamento);
}

#cabecalho {
    background-color: var(--cor-preto);
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    border-bottom: var(--borda);

}

#cabecalho>nav {
    background-color: var(--cor-preto);
    width: 85%;
    max-width: 900px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo-mobile {
    display: none;

}

.cabecalho-acoes {
    background-color: var(--cor-preto);
    display: flex;
    align-items: center;
    gap: 15px;

}

.cabecalho-acoes>a {
    display: flex;
    align-items: center;

}

.foto-perfil {
    width: 40px;
    height: 40px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}




@media only screen and (max-width: 500px) {
    #logo-mobile {
        display: initial;
    }

    #logo-desktop {
        display: none;
    }
}